.Gagant {
  display: flex;
  flex-direction: column;
  > button {
    padding-left: 30px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 200px;
    background-color: #f6ecc4;
    background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
    &:hover {
      opacity: 0.5;
    }
  }
  h1 {
    margin: auto;
    padding: 20px;
  }

  .box {
    padding-bottom: 30px;
    > div {
      border: 1px solid rgb(160, 120, 95);
      padding-bottom: 20px;
    }
    background-color: #da898c;
    background-image: linear-gradient(147deg, #da898c 0%, #59090c 74%);
  }
  div {
    display: flex;
    flex-direction: column;

    h2,
    h3 {
      padding: 10px;
      margin: auto;
    }
    .patries {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 70vw;
      margin: auto;

      .patrie {
        div {
          width: 300px;
          height: 200px;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
